html, body {
    height: 100%; /* occupe toute la hauteur */
    margin: 0; /* enlève les marges par défaut */
}
main {
    background-image:url(background.jpg) ;
    background-size: cover; /* adapte l'image à la taille de l'écran */
    background-repeat: no-repeat; /* empêche la répétition de l'image */
    background-position: center; /* centre l'image */
    min-height: 100vh; /* au moins la hauteur de l'écran */
}